/**
 * All The Things global styling
 */
#all-the-things {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 7px;
	bottom: 0;
	width: 175px;
	padding: 7px;
	position: fixed;
	right: 0;
	z-index: 9999;
	background-color: black;
	font-size: 10px;
	font-family: monospace;
	color: white;
	border-top-left-radius: 5px;
}

#all-the-things :focus {
	outline-width: 2px;
	outline-style: solid;
}

#all-the-things:not(:hover, :focus-within) {
	gap: 0;
	width: auto;
	opacity: 0.4;
}

#all-the-things div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding-right: 2px;
}

#all-the-things :is(a, select) {
	all: initial;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 12px;
	white-space: nowrap;
}

#all-the-things a {
	text-decoration: underline;
	text-decoration-color: dimgray;
}

#all-the-things select {
	position: relative;
	border-radius: 10px;
	border: 1px solid dimgray;
	width: 100%;
	padding: 7px 10px;
}

#all-the-things input[type="checkbox"] {
	accent-color: white;
	width: 20px;
	height: 20px;
}

#all-the-things:not(:hover, :focus-within) *:not(#things-link, div) {
	left: -999px;
	position: absolute;
}
