/**
 * All The Things global styling
 */
#all-the-things {
	background-color: black;
	bottom: 0;
	width: 155px;
	overflow: hidden;
	padding: 2px 5px 1px;
	position: fixed;
	right: 0;
	transition: opacity 0.3s;
	z-index: 9999;
	font-family: monospace;
	color: white;
}

#all-the-things:not(:hover, :focus-within) {
	width: auto;
	opacity: 0.4;
}

#all-the-things div {
	display: flex;
	align-items: center;
	gap: 5px;
	padding-right: 2px;
}

#all-the-things :is(a, select) {
	all: initial;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 10px;
	padding: 5px;
}

#all-the-things a {
	text-decoration: underline;
	text-decoration-color: dimgray;
}

#all-the-things select {
	position: relative;
	border-radius: 10px;
	outline: 1px solid dimgray;
	outline-offset: -5px;
	width: 100%;
	padding: 10px 15px;
	margin: -5px;
}

#all-the-things :is(a, select):is(:hover, :focus) {
	--c-all-the-things: white;
}

#all-the-things input[type="checkbox"] {
	accent-color: white;
	width: 17px;
	height: 17px;
}

#all-the-things:not(:hover, :focus-within) *:not(#things-link) {
	left: -999px;
	position: absolute;
}
